section {
	width: 800px;
	margin: 100px auto;
}
section h1,
section p {
	text-align: center;
	color: #454545;
}
section h1 {
	font: 32px 'Open Sans';
	font-weight: bold;
	color: #FF69B4;
}
header h1 {
	/*font-family: 'Lora', serif;*/
	font-size: 30px;
}

section p {
	font: 16px 'Open Sans';
}